/* ---------
    Body 
---------*/
body {
  margin: 100px;
  margin-top: 64px;
  overflow: hidden;
  background-color: #202124;
}

/* ---------
    Main 
---------*/
.main {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 20px;
  height: 500px;
  overflow: hidden;
}

/* ---------
    Tree 
---------*/
.tree {
  position: relative;
  bottom: -275px;
  width: 80px;
  height: 80px;
}

/* ---------
    Plane 
---------*/
.plane {
  position: relative;
  color: #202124;
  width: 80px;
  height: 80px;
  animation: slideToRight linear 5s infinite;
}
@keyframes slideToRight {
  0% {
    left: -100px;
  }
  100% {
    left: calc(100% - 80px);
  }
}

/* ---------
    Text 
---------*/
.text {
  /* Style */
  font-family: "Pixelify Sans", Arial;
  font-weight: 500;
  font-size: 28px;

  /* Animation */
  position: relative;
  animation: toBottom ease-out 5s infinite;
  left: 38%;
  bottom: -330px;
}
@keyframes toBottom {
  0% {
    bottom: -360px;
    left: -200px;
    transform: translateX(-100px);
    transform: translateY(-400px);
  }

  20% {
    bottom: -200px;
    transform: translateX(50px);
    transform: rotateZ(32deg);
  }
}

/* ---------
    Paus and Play image 
---------*/
.input-label > .input-label_icon {
  position: relative;
  bottom: -85%;
  left: 95%;
  width: 24px;
  height: 24px;
}

/* ---------
    Paus and Play functionality 
---------*/
#toggle {
  opacity: 0%;
}
#toggle:checked ~ .input-label > .input-label_icon {
  content: url("/images/play.svg");
}

#toggle:checked ~ .plane {
  animation-play-state: paused;
}

#toggle:checked ~ .text {
  animation-play-state: paused;
}
